body{
    width:1900px;
    height: 1900px;
}

a{
    text-decoration: none;
    color: white;
    gap: px;
    text-transform: uppercase;
}

a:hover{
    background-color: rgba(80, 31, 196, 0.5);
    border: 2px solid rgb(119, 77, 216);
    border-radius: 20px;
    padding: 5px;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: white;
}

h2{
    color: white;
    margin-bottom: 30px;
}


button{
    margin-top: 50px;
    background-color: rgba(80, 31, 196, 0.5);
    border: 2px solid rgb(119, 77, 216);
    border-radius: 30px;
    height: 50px;
    width: 250px;
    color: white;
    font-weight: 600;
    margin: 0 auto;
}

#progresso{
    width: 600px;
    margin-right: 50px;
}

.turbo-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    display: flex;
    justify-content: space-around;
    width: 350px;
}

.image-with-text{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 130px;
    margin-bottom: 200px;

    width: 1900px;
    height: 400px;
}

.text-image-with-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
}

#multicoluna-servicos{
    columns: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.mcs{
    width: 300px;
    height: 270px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 255, 0.2);
    border-radius: 40px;
}

.comparation{
    display: flex;
    margin: 0 auto;
    justify-content: center;

    width: 1900px;
    height: 150px;
    margin-top: 100px;
}

.left{
    text-align: center;
    width: 25%;
    height: 100%;
    background-color: rgb(0, 0, 255, 0.2);
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-radius: 15px;
    margin-right: 30px;
}
.right{
    text-align: center;
    width: 25%;
    height: 100%;
    background-color: rgb(0, 0, 255, 0.2);
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-radius: 15px;
}

#badget{
    width: 20px;
    margin-right: 7px;
}