body{
    width:1900px;
    height: 100%;
}

a{
    text-decoration: none;
    color: white;
    gap: px;
    text-transform: uppercase;
}

a:hover{
    background-color: rgba(80, 31, 196, 0.5);
    border: 2px solid rgb(119, 77, 216);
    border-radius: 20px;
    padding: 5px;
}

h1{
    color: white;
}

h2{
    color: white;
    margin-bottom: 30px;
}

button{
    margin-top: 50px;
    background-color: rgba(80, 31, 196, 0.5);
    border: 2px solid rgb(119, 77, 216);
    border-radius: 30px;
    height: 50px;
    width: 250px;
    color: white;
    font-weight: 600;
    margin: 0 auto;
}

#progresso{
    width: 600px;
    margin-right: 50px;
}

.turbo-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    display: flex;
    justify-content: space-around;
    width: 350px;
}

.image-with-text{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 130px;

    width: 1900px;
    height: 400px;
}

.text-image-with-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
}