body {
    background-image: url('turbo-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-style: 'Lexend', sans-serif;
}

.intro {
    text-align: center;
    color: aliceblue;
}

#logo {
    width: 100px;
}

#h1 {
    text-align: center;
    color: aliceblue;
}

#h2 {
    text-align: center;
    color: aliceblue;
}

#missao {
    font-size: 20px;
}

#multicoluna {
    columns: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#arms {
    width: 130px;
}

.beneficios {
    margin-top: 50px;
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: rgb(0, 0, 255, 0.2);
    border-radius: 30px;
}

.mc {
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}

.menu{
    display: flex;
    justify-content: space-around;
    width: 350px;
}

.turbo-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: white;
    gap: px;
    text-transform: uppercase;
}

a:hover{
    background-color: rgba(80, 31, 196, 0.5);
    border: 2px solid rgb(119, 77, 216);
    border-radius: 20px;
    padding: 5px;
}

.conteudo-local{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.conteudo-local-texto{
    text-align: left;
    color: white;
    font-size: 1.5rem;
}

